* {
   margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
}

body {
    background-color: #0d1b2a;  
    color: white;
}

header {
    display: flex; 
    justify-content: space-between;
   align-items: center;
   padding: 1rem; 
   background-color: white;
}



nav ul {
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end;
    list-style-type: none;
    gap: 2rem; 
    width: 100%; 
    max-width: 560px;
    padding: 0; 
    margin: 0; 
}

nav a { 
    list-style-type: none;
    text-decoration: none;
}

#about-me {
    display: flex; 
    color: white; 

}

#aboutme-text {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
}

#cta-button {
    
}


.projects-layout {
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

.project-card {
    width: 300px; 
    height: 100%;
    border: solid; 
    border-radius: 10px; 
}

.timeline {
    position: relative; 
    max-width: 1200px;
    margin: 100px auto; 
}

.container {
    padding: 10px 50px; 
    position: relative; 
    width: 50%; 
}

.text-box {
    padding: 20px 30px; 
    background: #fff; 
    position: relative;
    border-radius: 6px; 
    font-size: 15px;
    color: black;  
}

.left-container {
    left: 0; 
}

.right-container {
    left: 50%; 
}

section h2 { 
    text-align: center;
}

.container img {
    position: absolute;
    width: 50px; 
    border-radius: 50%; 
    right: -20px; 
    top: 32px; 
    z-index: 10; 
}

.right-container img {
    left: -20px; 
}

.timeline::after {
    content: ''; 
    position: absolute; 
    width: 6px; 
    height: 100%;
    background: #fff; 
    top: 0; 
    left: 50%; 
    margin-left: -3px; 
    z-index: -1;  
}

.left-container-arrow {
    height: 0; 
    width: 0; 
    position: absolute;
    top: 28px; 
    z-index: 1; 
    border-top: 15px solid transparent; 
    border-bottom: 15px solid transparent; 
    border-left: 15px solid #fff; 
    right: -15px; 
}

.right-container-arrow {
    height: 0; 
    width: 0; 
    position: absolute;
    top: 28px; 
    z-index: 1; 
    border-top: 15px solid transparent; 
    border-bottom: 15px solid transparent; 
    border-right: 15px solid #fff; 
    left: -15px; 
}







